/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: black;
    opacity: 0.8;
}

.btn-search{
    width:20%;
}

.main-section{
    margin: 0 auto;
    margin-top: 80px;
    padding:0;
}

.container{
    display: flex;
}

.container input{
    margin-top:20px;
    margin-right: 30px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
